<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Sign In</title>
	<script>
		function Validation(){
			var ID = document.forms['SignInForm'].ID.value;
			var password = document.forms['SignInForm'].password.value;
			if(ID == ""){
				alert("Employee ID cannot be empty");
				return false;
			}
			else if(isNaN(ID)){
				alert("Employee ID need to be number")
				return false;
			}
			else if(password == ""){
				alert("Password cannot be empty");
				return false;
			}
			else{
				return true;
			}
		}
	</script>
</head>

<body>
	<div>
		<h1>Welcome</h1>
	</div>
	
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		
		<div>
			<form name="SignInForm" method="post" onsubmit="return Validation()">
				<label>Employee ID :</label>
				<input type="number" id="ID" name="ID"><br><br>
				<label>Password :</label>
				<input type="password" id="password" name="password"><br><br>
				<input type="submit" value="Sign In">
			</form>
		</div>
	</div>
	
</body>

</html>