<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction - Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/transaction.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transaction.js" defer></script>
    
</head>
<body>

    <div class="header">
        <h1 class="primary-message">Transaction</h1>
    </div>

    <div id="main" class="main">
        <form action="/" method="POST" onsubmit="return validateForm();" class="inputContent">
            <div>
                <input id="lookup" type="text" placeholder="Search..">
                <button id="searchButton" type="button" class="action">Submit</button>
            </div>
            <hr />
            <div class="productsWrapper">
				<ul id="productsListing" class="products">
				<li th:each="product : ${products}">
                    <input type="hidden" name="transactionEntryId" th:value="${transactionEntries[productStat.index].id}" />
					<input type="hidden" name="productId" th:value="${product.id}" />
					<span class="productLookupCodeDisplay" th:text="${product.lookupCode}">lookupCode</span>
					<br />&nbsp;&nbsp;<span class="productPriceDisplay" th:text="${product.dollars}">$4.99</span>
                    <br />&nbsp;&nbsp;<span class="transactionEntryQuantityDisplay" th:text="${'Quantity: ' + transactionEntries[productStat.index].quantity}">2</span>
					<br />&nbsp;&nbsp;<span class="productCountDisplay" th:text="${product.stock}">0</span>
				</li>
				</ul>
			</div>
            <hr />
            <h4>Total:</h4>
            <p id="total">$0.00</p>
            <br/>
            <div>
                <button id="cancelButton" type="button" class="action">Cancel</button>
                <button id="checkoutButton" type="button" class="action">Checkout</button>
            </div>
        </form>
    </div>

</body>
</html>